@font-face {
  font-family: TildaSans;
  src: url("/fonts/TildaSans-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: TildaSans;
  src: url("/fonts/TildaSans-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: TildaSans;
  src: url("/fonts/TildaSans-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: TildaSans;
  src: url("/fonts/TildaSans-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: TildaSans;
  src: url("/fonts/TildaSans-Semibold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: TildaSans;
  src: url("/fonts/TildaSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
