:root {
  --primary-color: #519fe8;
  --secondary-color: #004ba8;
  --gray-color: #4a525a;
  --light-color: #f6faff;
  --dark-color: #07070a;
  --green-color: #5de851;

  --secondary-hovered: #00306b;
  --secondary-disabled: #486282;
  --light-color-hovered: #e1e3e6;
  --light-color-active: #caccce;
  --light-color-focus: #9b9c9c;
}
