.login {
  max-width: 600px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
}

.windowNumber {
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  height: calc(100dvh);
  width: 100%;
  align-items: center;
}

.button {
  margin-bottom: 20px;
}
